*{
  scroll-behavior: smooth;
}
.nav-grid{
  grid-area: nav;
  padding-left: 1rem;
  
}
.bgColor1{
  background-color: #9f8fff;
}
.bgColor2{
  background-color: #71A2DA;
}
.footer-grid{
  grid-area: footer;
}
/*
.main{
  display: grid;
  justify-content: center;
  grid-template-areas:
         ". . nav nav nav ."
        ". . content content content ." 
        ". . content content content ." 
        ". .  skills skills skills .";
}
*/
